# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Terraform lock file
.terraform.lock.hcl

# Variable files
*.tfvars
!example.tfvars

# IDE
.vscode/
.idea/